<section>
  <h1 class="section-title">Especificación</h1>
  <p>
    Aquí encontrarás las recomendaciones generales y casos de uso de Cathartical
    commits en tu día a día:
  </p>
  <ol>
    <li>
      Si te vas a hacer el "diplomático" usa otra convención, esto no es para
      cobardes
    </li>
    <li>
      Usa la convención como y cuando quieras, la idea es que seas creativo con
      tus ofensas
    </li>
    <li>
      ¿Cómo saber si estás cumpliendo con la convención? Si no eres tan ofensivo
      como crees que puedes ser, algo estás haciendo mal.
    </li>
    <li>
      ¿Es recomendable usar commits catárticos en mi trabajo? No es mi problema
      si careces de sentido común, no te voy a responder eso.
    </li>
  </ol>
</section>
