---

---

<nav>
  <ul>
    <li><a href="/es/">ES</a></li>
    <li><a href="/en/">EN</a></li>
  </ul>
</nav>

<style>
  ul {
    list-style: none;
    min-height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
  }

  li a {
    color: #fff;
    text-decoration: none;
  }
</style>
