<section>
  <h1 class="section-title">Cathartical commits 1.0.0</h1>
  <h2 class="section-title subtitle">Resumen</h2>
  <p>
    La especificación de commits catárticos es una convención para mensajes de
    commits que dejen expresar un historial realmente explícito basado en el
    estrés estadísticamente acumulado de los desarrolladores.
  </p>
  <p>
    Esta convención plantea un formato para describir la frustración, enojo y
    blasfemias que día a día tenemos que ver e implementar en el código.
  </p>
</section>
