---
import Convention from "../../components/astro/convention.astro";
import Examples from "../../components/astro/examples.astro";
import Header from "../../components/astro/header.astro";
import Resume from "../../components/astro/resume.astro";

const currentLocale = Astro.currentLocale || "es";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="mask-icon" href="/favicon.svg" color="#5bbad5" />
    <meta name="viewport" content="width=device-width" />
    <title>Commits Catárticos</title>
    <meta
      name="description"
      content="La especificación de commits para developers iracundos"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://catharticalcommits.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Commits Catárticos" />
    <meta
      property="og:description"
      content="La especificación de commits para developers iracundos"
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/7d70cd67-462a-4e4e-a3e0-394bf7e39b83.png?token=wfERLFJggApyq1og-eLgxrwMu9gc2e8Gh09CtkG5LI0&height=675&width=1200&expires=33262081446"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="catharticalcommits.com" />
    <meta property="twitter:url" content="https://catharticalcommits.com/" />
    <meta name="twitter:title" content="Commits Catárticos" />
    <meta
      name="twitter:description"
      content="La especificación de commits para developers iracundos"
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/7d70cd67-462a-4e4e-a3e0-394bf7e39b83.png?token=wfERLFJggApyq1og-eLgxrwMu9gc2e8Gh09CtkG5LI0&height=675&width=1200&expires=33262081446"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
  <body>
    <Header currentLocale={currentLocale} />
    <main>
      <article>
        <Resume currentLocale={currentLocale} />
        <Examples currentLocale={currentLocale} />
        <Convention currentLocale={currentLocale} />
      </article>
    </main>
    <footer>
      <p>
        Desarrollado y definido con ira por <a
          href="https://programacion-es.dev">Programación en español</a
        >
      </p>
    </footer>
  </body>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 3.6em;
  }

  .section-title {
    font-size: 2.3em;
    color: #002382;
    border-bottom: 1px solid #eaecef;
    padding-block-end: 0.3em;
    margin-block-start: 16px;
    margin-block-end: 24px;
  }

  .subtitle {
    font-size: 1.5em;
  }

  h2.subtitle {
    font-size: 1.2em;
  }

  p,
  ol > li {
    font-size: 16px;
    line-height: 1.5;
    margin-block-end: 16px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article {
    border-radius: 15px;
    color: #24292e;
    padding-block: 40px;
    padding-inline: 48px;
    max-width: 1024px;
    box-shadow: 1px 1px 10px #a8a8a8;
    transform: translateY(-64px);
    background-color: #fff;
  }

  hr {
    color: #ccc;
  }

  pre {
    background: #f4f2f2;
    border-left: 5px solid #ccc;
    text-wrap: wrap;
  }

  code {
    font-size: 15px;
  }

  footer {
    text-align: center;
    padding-bottom: 15px;
  }

  @media (width <= 410px) {
    article {
      width: 90vw;
      text-wrap: wrap;
      word-wrap: break-word;
    }
  }
</style>
