---
import About from "../../components/astro/about.astro";
import Convention from "../../components/astro/convention.astro";
import Examples from "../../components/astro/examples.astro";
import Header from "../../components/astro/header.astro";
import Resume from "../../components/astro/resume.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Commits Catárticos</title>
  </head>
  <body>
    <Header />
    <main>
      <article>
        <Resume />
        <Convention />
        <Examples />
        <About />
      </article>
    </main>
  </body>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
  }

  h1 {
    font-size: 3.6em;
  }

  .section-title {
    font-size: 2.3em;
    color: #002382;
    border-bottom: 1px solid #eaecef;
    padding-block-end: 0.3em;
    margin-block-start: 16px;
    margin-block-end: 24px;
  }

  .subtitle {
    font-size: 1.5em;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-block-end: 16px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article {
    border-radius: 15px;
    color: #24292e;
    padding-block: 40px;
    padding-inline: 48px;
    max-width: 1024px;
    box-shadow: 1px 1px 10px #a8a8a8;
    transform: translateY(-64px);
    background-color: #fff;
  }

  hr {
    color: #ccc;
  }
</style>
